body {
    margin: 0; padding: 1em;
    font-family: sans-serif;
}

h1 { margin: 0; color: #36f }
#canvas { float: left; margin-right: 10px; border: 1px solid #bbb; }

*#pattern { position: absolute; top: 150px; left: 750px; }
#pattern td { width: 20px; height: 20px; border: 1px solid #bbb; }

.controls a { border-radius: 5px; margin: 2px; padding: 4px; float: left; }

#palette { margin: 20px }
#palette a { 
    padding: 5px 10px;
    text-decoration: none;
    font-weight: bold;
    border: 3px solid #999;
    border-radius: 1em;
    color: black;
}
#palette a.current { border: 2px dotted yellow; }
