/*
This file is part of Knitterblocker.

Knitterblocker is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Knitterblocker is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Knitterblocker.  If not, see <http://www.gnu.org/licenses/>.
*/

body {
   width: 1000px;
   margin: 0 auto; padding: 1em;
   font-family: sans-serif;
}

h1 { margin: 0 0 0.25em 0; color: #36f; text-align: center; }
a { text-decoration: none }
#canvas { 
   float: right; margin-right: 10px; border: 1px solid #bbb; 
   -webkit-box-shadow: 5px 5px 5px #bbb;
}

#pattern .grid { margin: 0 auto; }
#pattern td { width: 20px; height: 20px; border: 1px solid #bbb; }
#pattern th { 
   font-weight: normal; font-size: small; color: #888;
}
#pattern th:first-child { padding: 0 0.5em }

.controls { text-align: center; margin: 0.5em 0 }

#palette { margin: 20px; text-align: center; }
#palette a { 
   padding: 4px 10px;
   margin: 0 3px;
   font-weight: normal;
   border-radius: 1em;
   -webkit-box-shadow: 2px 2px 5px #ccc;
   color: black;
}
#palette a.current { 
   font-weight: bold; 
   -webkit-box-shadow: 2px 2px 5px #333;
}

